<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <style>
        .label {
            width: 100px;
            text-align: right;
            padding: 4px;
            display: inline-block;
        }

        pre{
            height:24px;
            line-height: 24px;
            margin:0;
            padding:0;
        }
        .split{
            height: 1px;
            background: beige;
        }

        .root{

            display: flex;
            flex-direction:row;
        }
        .root div{

        }
    </style>

</head>
<body>

<div class="root">
    <div style="background: red;width:100%;flex-grow:1;overflow: auto">
        <div>
            <% for(var i=0;i<lines.length;i++){ %>
            <pre><%=i%> &nbsp; <%=lines[i]%></pre>
            <div class="split"></div>
            <%}%>
        </div>
    </div>
    <div style="background: blue;width:80px"></div>
    <div style="background: green;width:100%;flex-grow:1"></div>
</div>


</body>
</html>