<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>


</head>
<body>

<div class="root">
<form action="/api/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file1" id="file1" value="" multiple="multiple" />
    <input type="file" name="file2" id="file2" value="" multiple="multiple" />
    <input type="submit" value="提交"/>
</form>
</div>


</body>
</html>
