<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <style>
        .label {
            width: 100px;
            text-align: right;
            padding: 4px;
            display: inline-block;
        }

        pre{
            height:24px;
            line-height: 24px;
            margin:0;
            padding:0;
        }
        .split{
            height: 1px;
            background: beige;
        }

        .root{

            display: flex;
            flex-direction:row;
        }
        .root div{

        }
    </style>


</head>
<body>

<div class="root">
    <div style="background: red;width:100px;flex-grow:1;overflow: auto">
        <div>
            <% for(var i=0;i<lines1.length;i++){ %>
            <pre><%=lines1[i]%></pre>
            <div class="split"></div>
            <%}%>
        </div>
    </div>
    <div style="background: blue;width:80px;flex-shrink:0">
        <canvas id="canvas" width="80" height="250" style="width:80px;height:250px;background: yellow"></canvas>
    </div>
    <div style="background: green;width:100px;flex-grow:1;overflow: auto">
        <div>
            <% for(var i=0;i<lines2.length;i++){ %>
            <pre><%=lines2[i]%></pre>
            <div class="split"></div>
            <%}%>
        </div>
    </div>
</div>
<script>
    var canvas=document.getElementById("canvas");
    var context=canvas.getContext("2d");
    //context.lineWidth = 1;
    lineTo(context, 1, 4);

    function lineTo(context, left, righit){
        var fromY = left * 24 + 1;
        var toY = righit * 24 + 1;

        console.log('aaa', fromY, toY);
        context.moveTo(0, fromY);
        context.lineTo(80, toY);
        context.stroke();
    }
</script>

</body>
</html>